<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8"/>
      <title>Form Example</title>
  </head>
  <body>
        <h1>Account Details</h1>
        
        <p style="color: red">{{message}}</p>
        
        <form method="post">
            <label for="firstName">First Name:</label>
            <input name="firstName" type="text" value="{{firstName}}"/><br />
            
            <label for="familyName">Family Name:</label>
            <input name="familyName" type="text" value="{{familyName}}"/><br />
            
            <input name="" type="submit" value="Save"/>
        </form>
  </body>
</h