<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8"/>
      <title>Form Example</title>
  </head>
  <body>
        <h1>Account Details</h1>
        
        <p style="color: red">{{message}}</p>
        
        <form method="post">
            <label for="firstName">First Name:</label>
            <input name="firstName" type="text" value="{{firstName}}"/><br />
            
            <label for="familyName">Family Name:</label>
            <input name="familyName" type="text" value="{{familyName}}"/><br />
            
            <input name="" type="submit" value="Save"/><br><br><br><br>
            
            <img src="3176173-1748009911-hp.jp_.jpg"> <br>
            < ---The image is supposed to be here 
            
            <h1>This is a heading</h1>
			<h2>This is a heading</h2>
			<h3>This is a heading</h3> 
        </form>
  </body>
</h