<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8"/>
      <title>Form Example</title>
  </head>
  <body>
        <h1>Ren's Totally Awesome Page</h1>
        
        <p style="color: red">{{message}}</p>
        
        <form method="post">
            <label for="firstName">First Name:</label>
            <input name="firstName" type="text" value="{{firstName}}"/><br />
            
            <label for="familyName">Family Name:</label>
            <input name="familyName" type="text" value="{{familyName}}"/><br />
            
            <input name="" type="submit" value="Save"/><br><br><br><br>
            
            <img src="../images/harry.jpg" width="304"> <br>This is Harry Potter...
            
            <img scr="../images/hungergames.jpg" width="304">
            
            <h2>Norwegian Mountain Trip</h2>
			<img border="0" src="/images/pulpit.jpg" alt="Pulpit rock" width="304" height="228">
            
            <img border="0" src="images/cat.jpg" alt="Cat" width="304"
            <h1><-----This is a very cute cat.</h1>
            
			
			
			
<h1>My name is Ren Weber and I like cats, dogs, and birds along with ice cream.
        </form>
  </body>
</h